<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>{{text}}</h2>
  <p>CROP DETAIL</p>            
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>STATE</th>
        <th>District</th>
        <th>Year</th>
        <th>SEASON</th>
        <th>CROP</th>
        <th>PRODUCTION</th>
        <th>PRODUCTIVITY</th>
      </tr>
    </thead>
    <tbody>
    {% for row in crop_data %}
      <tr>
      <td>{{row.id}}</td> <td>{{row.state}}</td> <td>{{row.district}}</td> <td>{{row.year}}</td> <td>{{row.season}}</td> <td>{{row.crop}}</td> <td>{{row.production}}</td> <td>{{row.productivity}}</td> 
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
