<html>
<body>
 

	<script type="text/javascript">
		
		function submit_method(){
			window.location.replace("/submit_result");
		}
	</script>


	<form method="post" action="/submit_result/">
		<div align="center">
<input type="text" name="first_name" class="form-control" placeholder="first_name" />
<input type="text" name="last_name" class="form-control" placeholder="last_name" />
<input type="text" name="age" class="form-control" placeholder="age" />
<input type="text" name="address" class="form-control" placeholder="address" />
<input type="text" name="salary" class="form-control" placeholder="salary" />


		<!-- <button type="button" onclick="submit_method()">submit </button> -->
		<input type="submit" value="Submit">
		</div>
	</form>
 

<p>Note: Please make sure your details are correct before submitting form and that all fields marked with * are completed!.</p>
 

</body>
</html>
