{% extends "base.html"%}
{% load staticfiles %}
{% block title %} Detection Verification System {% endblock title %}

{% block headc %}


{% endblock headc %}

{% block content %}
<div class="row" style="margin-left: 5%;margin-right: 5%;">
  <section>
<h2>who am i??</h2>
	<p>
		I am just a guy who is passionate about developing new things, which may be good for knowledge and can help people to make things easy for them. I love programming and open source ideology which helped many people to improve their programming skills and gave freedom to think out of box.
		</br>
		My hobbies are Sleeping, Programming, Gaming and Hacking
	</p>
</section></br>
<section>
<h2>My Study Background</h2>

<p>Pursuing B.tech in Computer Science & Engineering at NIT Puducherry, India</p>


</section>
</br>
<section>
<h2>Professional Career</h2>
 <p>Programmer</p>
</section>
</br>
<section>
<h2>Contact Me</h2>

Email id: <a href="mailto:sumitbsn@gmail.com">sumitbsn@gmail.com</a></br>
Linkedin: <a href="https://www.linkedin.com/in/sumitbsn/">sumitbsn</a><br>
Twitter: <a href="http://twitter.com/sumitbsn">sumitbsn</a><br>
facebook: <a href="http://facebook.com/sumitbsn">sumitbsn</a><br>

</section>
</div>
{% endblock content %}