{% extends "base.html"%}
{% load staticfiles %}
{% block title %} Detection Verification System {% endblock title %}

{% block headc %}

{% endblock headc %}

{% block content %}



<div class="container">
	<div class="row" style="margin-left: 25px;margin-top: 25px;margin-right: 25px;">
		<div class="col-sm-9">
			<div >
				<div class="well well-lg" style="background-color:#f4f8f9;border-color:#f4f8f9;">
					
					<h3 ><a>{{ blog.title }}</a> </h3>
					<h4><small style="color:#42d1f4;"> {{ blog.entry_time }} by <b> {{ blog.user }} </b></small></h4></br>
			
					<!-- class="lead" -->
						
							<p  style="white-space: pre-line;" class="mb-0-sm">
							{{ blog.body }}
							</p>
						
					
					<br>

					<h2>Comments</h2>
						
					
					<form id ="mainForm" method="post" action="/submitcommentpost/"> {% csrf_token %}
				        
				        <input style="width: 60%" type="text" name="author" placeholder="Author" required="required" />
				        <br><br>
				        <textarea type="text" name="text" placeholder="Comment" required="" class="vLargeTextField" id="text" cols="90" rows="5"></textarea>
			
				        <!-- <input type="text" name="blog_id" placeholder="Blogid" required="required" /> -->
				        <input type = "hidden" name = "blog_id" value = {{ blog.id }} />
				        <input type = "hidden" name = "blog_url" value = {{ blog.get_absolute_url }}  />
				        <br><br>
				        <button type="submit" class="btn btn-primary btn-large">Post Comment</button>
				    </form>

				    <br>
				    {% for row in auth %}
				    	{% if row.blog_id == blog.id %}
						    <h4><small style="color:#42d1f4;">{{ row.created_date }} by <b> {{ row.author }} </b></small></h4>
						    	 				
							<p >
							{{ row.text }}
							</p>
							<!-- <a rel='nofollow' class='comment-reply-link' href='#comment-9842' onclick='return addComment.moveForm( "comment-9842", "9842", "respond", "3051" )' aria-label='Reply to Shaz De Vos'>Reply</a> -->
							<a href="" class="reply">reply</a>
							<!-- <a id="clickme" href="javascript:;">click me</a> -->
							<br><br>
						{% endif %}	
					{% endfor %}

				</div>
			   
			</div>
		</div>

		<div class="col-sm-3">
			<div class="well well-sm" style="background-color:#f4f8f9;border-color:#000;">

				<h3>Recent Blog Entry:</h3>
				 <ul class="list-group">
		
					{% for blog in recentPost %}
						<!-- <a href="javascript:window.location.reload(true)">{{ blog.title }}</a> -->
						<li class="list-group-item"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="well well-sm" style="background-color:#f4f8f9;border-color:#000;">
				
					
					<li class="list-group-item"><a href="/blogpost/">Post Blog </a></li>
					
				
			</div>
		</div>

	</div>
</div>



{% endblock content %}


