{% extends "base.html"%}
{% load staticfiles %}
{% block title %} Detection Verification Dashboard {% endblock title %}

{% block headc %}


{% endblock headc %}

{% block content %}

<h2 style="font-weight:normal;text-align: center;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;">AgroAnalytics Blog</h2>
<div class="container">
	<div class="row" style="margin-left: 5px;margin-top: 25px;margin-right: 5px;">
		<div class="col-sm-9">
			<div>
				{% for blog in page_obj %}
					<div class="well well-sm" style="background-color:#f4f8f9;border-color:#f4f8f9;">
						<h3 ><a style="" href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h3>
						<!-- <h3 class="list-group-item"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h3> -->
						<h4><small style="color:#42d1f4;"> {{ blog.entry_time }} by <b> {{ blog.user }} </b></small></h4></br>
						
						
								<p style="white-space: pre-line;" class="mb-0-sm">
									{{ blog.body|truncatewords:135 }}
								</p>
						
							
						
					</div>
				{% endfor %}


				{% block pagination %}
				  {% if is_paginated %}
					  <div  class="pagination">
						  <span class="page-links">
							  {% if page_obj.has_previous %}
								  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
							  {% endif %}
							  
							  <span class="page-current">
								  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
							  </span>
							  
							  {% if page_obj.has_next %}
								  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
							  {% endif %}
						  </span>
					  </div>
				  {% endif %}
				{% endblock %}
			</div>
		</div>

		<div class="col-sm-3">
			<div class="well well-sm" style="background-color:#f4f8f9;border-color:#000;">

				<h3>Recent Blog Entry:</h3>
				 <ul class="list-group">
		
					{% for blog in recentPost %}
						<!-- <a href="javascript:window.location.reload(true)">{{ blog.title }}</a> -->
						<li class="list-group-item"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<!-- <li class="list-group-item"><a href="">Post Blog </a></li> -->

			<div class="well well-sm" style="background-color:#f4f8f9;border-color:#000;">
		
					
					<li class="list-group-item"><a href="">Post Blog </a></li>
					
				
			</div>
		</div>

		
	</div>
</div>


{% endblock content %}


