{% extends "base.html" %}



<!-- <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head> -->



{% block content %}


<div class="container">
<h2>Crop production details of Tamilnadu state from year 1997 to 2016</h2>


<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading" style="background: #221F1F; color: #FFFFFF">
      
      <p>CROP DETAIL</p> 
    </div>


<div class="panel-body"> 
  <div style="height: 500px; overflow-y: scroll;">     
  <table class="table table-condensed" >
    <thead>
      <tr>
        <th>ID</th>
        <th>STATE</th>
        <th>District</th>
        <th>Year</th>
        <th>SEASON</th>
        <th>CROP</th>
        <th>PRODUCTION</th>
        <th>PRODUCTIVITY</th>
      </tr>
    </thead>
    <tbody>
    {% for row in crop_data %}
      <tr>
      <td>{{row.id}}</td> <td>{{row.state}}</td> <td>{{row.district}}</td> <td>{{row.year}}</td> <td>{{row.season}}</td> <td>{{row.crop}}</td> <td>{{row.production}}</td> <td>{{row.productivity}}</td> 
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>



  {% if crop_data.has_other_pages %}
    <ul class="pagination">
      {% if crop_data.has_previous %}
        <li><a href="?page={{ crop_data.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in crop_data.paginator.page_range %}
        {% if crop_data.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if crop_data.has_next %}
        <li><a href="?page={{ crop_data.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock content %}