{% extends "base.html"%}
{% load staticfiles %}
{% block title %} Volga-DTI Detail All Stats{% endblock title %}

{% block headc %}
    <base href="/" />
    <script src="{% static 'angular.min.js' %}"></script>
    <script src="{% static 'temperature_table.js' %}"></script>
    <style type="text/css">
        
      p {
          font-family: sans-serif;
      }

      label.custom-select-title{
        color: #white;
      }

      label.custom-select {
          position: relative;
          display: inline-block;
      }

          .custom-select select {
              display: inline-block;
              border: 1px solid #bbb;
              padding: 4px 3px 3px 5px;
              margin: 0;
              font: inherit;
              outline:none; /* remove focus ring from Webkit */
              line-height: 1.0;


              background: #FFFFFF;
              
              -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
              
              -webkit-border-radius: 6px;
              -moz-border-radius: 6px;
              border-radius: 6px;
          }

          /* for Webkit's CSS-only solution */
          @media screen and (-webkit-min-device-pixel-ratio:0) { 
              .custom-select select {
                  padding-right:30px;    
              }
          }
          
          /* Since we removed the default focus styles, we have to add our own */
          
          /* Select arrow styling */
          .custom-select:after {
              content: "▼";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              font-size: 60%;
              line-height: 30px;
              padding: 0 7px;
              background: #bbb;
              color: black;
              
              pointer-events:none;
              
              -webkit-border-radius: 0 6px 6px 0;
              -moz-border-radius: 0 6px 6px 0;
              border-radius: 0 6px 6px 0;
          }
          
          .no-pointer-events .custom-select:after {
              content: none;
          }

    </style>

{% endblock headc %}

{% block content %}
<div class="container-fluid">


    {% verbatim %}
        <div ng-app="resultViewer">
            <div ng-controller="resultController">
                


                    <div class="col-lg-12" style="padding-top:1%;">
                        <div style="padding:8px;" ng-show="initial.showFilter">
                            <div class="col-sm-2" style="color:grey;font-weight:bold;margin-top:4;">Set Options</div>
                            <div style="color:#437795;font-weight:bold;border: 1px solid black;padding:5px;">
                                Results/page:
                                <select style="color:black;width:10%;font-weight:normal !important;" ng-change="pagination(true, true)"
                                        ng-model="initial.curShowPerPage" ng-options="count as count for count in initial.showPerPage">
                                    <option value="count">{{count}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" style="background: #221F1F">
                                <h3 class="panel-title" style="color:#FFFFFF;"><i class="fa fa-bars"></i> Temperature detail Table

                                <span style="text-align:center;font-size:13px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Year:</span>
                                <label class="custom-select">
                                <select style="color:black;text-align-last:center;font-size:12px;font-weight:normal;" ng-change="pagination(true, true)"
                                        ng-model="initial.default_year" ng-options="count as count for count in initial.year_options">                                   
                                </select>
                                </label> 
                               

                               <span style="text-align:center;font-size:13px;" > &nbsp; District:</span>
                               <label class="custom-select">
                                <select style="color:black;text-align-last:center;font-size:12px;font-weight:normal;" ng-change="pagination(true, true)"
                                        ng-model="initial.default_district" ng-options="count as count for count in initial.district_options">                                   
                                </select>
                               </label> 


                                    <span class="pull-right" style="cursor:pointer;" ng-click="initial.showFilter = !initial.showFilter"><i class="fa fa-filter"></i></span>
                                </h3>
                            </div>
                            <div class="panel-body" style="height:75%;overflow-y:auto;">
                                <div id="panelData" >
                                    <div ng-show="dataReady">

                                        <table class="table table-bordered "  >

                                            <thead>

                                                <tr style="color:#337AB7;font-size:16px;cursor:auto;">
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="5%">DB ID</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">District</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">Year</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">January</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">February</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">March</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">April</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">May</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">June</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">July</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">August</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">September</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">October</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">November</th>
                                                    <th style="text-align:center;font-size:11px;" rowspan="1" width="7%">December</th>

                                                </tr>
                                            </thead> 
                                            <tbody>
                                                <tr style="color:#337AB7;font-size:16px;cursor:auto;" ng-repeat="temperatureObj in temperatureList  | filter: query " ng-include="getTemplate(temperatureObj)"></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- <span style="color:grey;font-size:9px;font-weight:thin;">click on row to open full detail.</span> -->
                        </div>


                        <script type="text/ng-template" id="display" >
                        <td style="text-align:center;color:#009688;font-size:13px;" width="5%">{{temperatureObj.sample_info.id}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.district}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.year}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.january}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.february}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.march}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.april}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.may}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.june}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.july}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.august}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.september}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.october}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.november}}</td>
                        <td style="text-align:center;color:#424242;font-size:10px;" width="7%">{{temperatureObj.sample_info.december}}</td>

                        </script>


                        <nav>
                            <ul class="pager">
                                <li><button class="btn btn-primary btn-sm" ng-disabled="!config.has_prev"  ng-click="pagination(false)"><i class="fa fa-angle-double-left"></i> Previous </button>
                                    <span style="font-size:12px;color:grey;font-weight:bold;">
                                        {{config.cur_page}} / {{config.total_page}}
                                    </span>
                                </li>
                                <li><button class="btn btn-primary btn-sm" ng-disabled="!config.has_next" ng-click="pagination(true)">Next <i class="fa fa-angle-double-right"></i></button></li>
                            </ul>
                        </nav>

                    </div>
                </div>

        
        </div>
        <br/><br/>
    {% endverbatim %}
</div>

{% endblock content %}
{% block script %}



{% endblock script %}